:root{
    /*--variable: valor;*/
    --background-color: #330000;
    --background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2565%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2566%26quot%3b)'%3e%3c/rect%3e%3cpath d='M700 200C665.4 213.3 685.77 243.13 661.38 280C615.77 348.95 611.23 346.29 560 411.64C556.36 416.29 551.64 414.3 551.64 420C551.64 465.15 530.39 498.14 560 513.33C604.57 536.19 635.66 519.84 700 496.09C762.11 473.17 758.09 460.07 812.9 420C828.09 408.9 826.1 406.5 840 393.75C902.41 336.5 965.52 329.45 965.52 280C965.52 238.23 906.99 231.51 840 211.32C774.23 191.51 754.71 178.96 700 200' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 388.89C80.57 395.84 23.33 405.89 23.33 420C23.33 433.94 80.97 438.18 140 445C209.3 453.01 214.53 459.22 280 449.65C300.09 446.72 311.11 434.87 311.11 420C311.11 405.05 300.18 393.67 280 390C214.63 378.11 208.91 380.84 140 388.89' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M76.09 140C65.47 99.68 20.72 118.8 0 80.68C-17.33 48.8 -25.59 14.75 0 0C44.41 -25.59 70 0 140 0C198.8 0 201.36 -7.25 257.6 0C271.36 1.78 269.56 18.06 280 18.06C288.76 18.06 284.6 1.47 296 0C354.6 -7.56 358 0 420 0C490 0 490 0 560 0C585.97 0 600.26 -18.49 611.94 0C644.47 51.51 646.1 69.5 648.42 140C650.71 209.5 647.12 215.57 621.15 280C602.91 325.27 592.81 321.67 560 359.4C531.94 391.67 530.18 390.2 499.4 420C460.18 457.96 458.72 456.48 420 494.93C388.22 526.48 395.73 542.65 358.4 560C325.73 575.18 319.2 560 280 560C210 560 210 560 140 560C70 560 53.72 576.28 0 560C-16.28 555.07 -16.25 523.67 0 517.58C53.75 497.42 70.16 514.18 140 507.5C210.16 500.8 217.99 516.14 280 490.82C325.15 472.39 354.32 455.52 354.32 420C354.32 384.28 324.59 370.99 280 348.33C217.43 316.54 209.31 331.93 140 311.11C95.56 297.76 65.14 313.83 52.5 280C33.18 228.28 91.72 199.34 76.09 140' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M808.89 140C808.89 132.69 822.3 124.62 840 118.46C907.85 94.87 912.45 74.88 980 80.5C1041.95 85.65 1039.31 110.65 1099 140C1109.31 145.07 1108.72 147.51 1120 149.33C1189.22 160.48 1190.34 155.38 1260 165.93C1330.34 176.58 1337.82 200.54 1400 191.74C1429.46 187.57 1420.76 165.1 1443.27 140C1490.76 87.07 1512.1 35.69 1540 35.69C1560.46 35.69 1540 87.84 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1089.64 560 1072.16 580.94 1059.28 560C1029.09 510.94 1041.7 490.54 1033.85 420C1026.12 350.54 1044.35 345.95 1028.13 280C1017.42 236.47 1015.77 226.65 980 201.03C921.71 159.29 910.74 170.51 840 145.28C825.19 140 808.89 146.1 808.89 140' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 108.89C1199.08 108.89 1123.89 30.57 1123.89 0C1123.89 -23.87 1191.95 0 1260 0C1300.16 0 1340.33 -20.28 1340.33 0C1340.33 34.16 1307.3 108.89 1260 108.89' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 403.03C1368.65 403.03 1337.78 410.47 1337.78 420C1337.78 429.73 1368.51 441.54 1400 441.54C1439.62 441.54 1480 429.69 1480 420C1480 410.44 1439.76 403.03 1400 403.03' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M96.92 0C96.92 5.4 39.88 21.36 0 21.36C-8.58 21.36 -8.75 1.93 0 0C39.71 -8.75 96.92 -5.28 96.92 0' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M233.33 140C242.38 121.34 256.38 130.97 280 130.97C349.71 130.97 407.41 105.64 420 140C434.72 180.16 385.7 219.2 334.63 280C315.7 302.54 307.99 306.67 280 306.67C244.54 306.67 215.93 309.26 207.74 280C192.6 225.93 206.25 195.86 233.33 140' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M420 140C391.1 140 396 59.88 396 0C396 -10.12 408 0 420 0C472.5 0 525 -26.25 525 0C525 43.75 455.6 140 420 140' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 31.11C1242.59 31.11 1221.11 8.73 1221.11 0C1221.11 -6.82 1240.55 0 1260 0C1271.47 0 1282.95 -5.79 1282.95 0C1282.95 9.76 1273.51 31.11 1260 31.11' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1506.91 140C1506.91 117.79 1530.45 104.31 1540 104.31C1547 104.31 1540 122.15 1540 140C1540 210 1548.16 280 1540 280C1531.62 280 1506.91 205.64 1506.91 140' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M512.11 280C512.11 250.54 541.52 210 560 210C575.92 210 580.92 246.94 580.92 280C580.92 295.52 573.2 307.16 560 307.16C538.8 307.16 512.11 299.12 512.11 280' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1082.81 280C1082.81 252.4 1092.02 234.89 1120 227.11C1180.61 210.26 1191.18 220.73 1260 230.74C1331.18 241.09 1328.94 255.33 1400 267.83C1468.94 279.96 1540 272.73 1540 280C1540 287.3 1468.06 280.39 1400 296.97C1328.06 314.5 1332.2 334.54 1260 348.21C1192.2 361.05 1176.57 371.78 1120 350C1087.97 337.67 1082.81 313.84 1082.81 280' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M397.53 420C397.53 397.64 407.84 372.11 420 372.11C432.66 372.11 447.16 398.1 447.16 420C447.16 434.86 432.97 445.63 420 445.63C408.16 445.63 397.53 434.4 397.53 420' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M166.67 560C166.67 552.9 226.77 532 280 532C299.3 532 311.73 552 311.73 560C311.73 566 295.87 560 280 560C223.33 560 166.67 566.9 166.67 560' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1101.45 560C1101.45 539.16 1096.82 511.35 1120 505C1176.1 489.63 1192.28 501.35 1260 516.55C1314.78 528.85 1365 548.71 1365 560C1365 570.43 1312.5 560 1260 560C1190 560 1190 560 1120 560C1110.72 560 1101.45 566.66 1101.45 560' stroke='rgba(157%2c 157%2c 157%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2565'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2566'%3e%3cstop stop-color='rgba(94%2c 12%2c 38%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(148%2c 42%2c 72%2c 1)' offset='0.51'%3e%3c/stop%3e%3cstop stop-color='rgba(205%2c 59%2c 85%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    --background-attachment: fixed;
    --background-size: cover;

    --background-footer: #360817e0;

    --fuente-enlace: #ffcef4;
    --fuente-color: #fbfbfb;
    --fuente-brillante: #ffffff;

    --raleway: "Raleway", sans-serif;

    --fuente-tamaño-pequeño: 16px;
    --fuente-tamaño-regular: 22px;
    --fuente-tamaño-grande: 32px;
    --fuente-tamaño-enorme: 52px;

}

html {
    scroll-behavior: smooth;
    height: 100%; /* Asegura que el HTML ocupe toda la altura del viewport */
}

body {
    font-family: var(--raleway);
    color: var(--fuente-color);
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: var(--background-size);
    background-attachment: var(--background-attachment);
    background-position-x: center;
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

main {
    padding-right: 8%;
    padding-left: 6.5%;
    flex-grow: 1; 
    margin-bottom: 3%;
}

footer {
    background-color: var(--background-footer);
    width: 100%; 
    padding: 1% 0;
}

@media screen and (max-width: 1440px) {
    body{
        margin-top: 2%;
    }
    main{
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
    }
    header{
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 3%;
    }
}

@media screen and (max-width: 1024px) {
    main{
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
    }
    header{
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media screen and (max-width: 768px) {
    body{
        margin-top: 2%;
    }
    main{
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
    }
    header{
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 3%;
    }
}

@media screen and (max-width: 480px) {
    body{
        margin-top: 7%;
    }
    main{
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
    }
    header{
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 3%;
    }

    footer{
        margin-top: 10%;
    }
}
