.linktree__botones{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton--link{
    background: var(--background-footer);
    /*background: #61112d;*/
    padding: 12.5px 25px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 18px;
    letter-spacing: 4px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    color: var(--fuente-enlace);
    width: 500px;
}

.linktree__boton{
    text-align: center;
}

.boton--link:hover{
    color: #ffffff;
    box-shadow: 0 0 5px #ff5e8e, 0 0 15px #ff5e8e;
    text-shadow: 0 0 7px rgb(255, 112, 191);
}

@media screen and (max-width: 1440px) {

    .boton--link{
        font-size: 22px;
        width: 340px;
    }
    .boton--link:hover{
        color: var(--fuente-enlace);
        box-shadow: none;
        text-shadow: none;
    }
    .linktree__botones{
        margin-top: 2%;
    }

}

@media screen and (max-width: 1024px) {

    .boton--link{
        font-size: 22px;
        width: 340px;
    }
    .boton--link:hover{
        color: var(--fuente-enlace);
        box-shadow: none;
        text-shadow: none;
    }
    .linktree__botones{
        margin-top: 2%;
    }

}

@media screen and (max-width: 768px) {
    .boton--link{
        width: 500px;
        font-size: 22px;
    }
    .boton--link:hover{
        color: var(--fuente-enlace);
        box-shadow: none;
        text-shadow: none;
    }
    
}

@media screen and (max-width: 480px) {
    .boton--link{
        width: 340px;
        font-size: 18px;
    }

    .boton--link:hover{
        color: var(--fuente-enlace);
        box-shadow: none;
        text-shadow: none;
    }
    
}
